@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

body{
	background: #f7f7f7;
	font-family: 'Roboto Condensed', 'Helvetica', sans-serif;
}

.container{
	margin: 0 auto;
	padding: 0;
	max-width: 760px;
}

.spin{
	-webkit-animation:spin .3s ease-in-out 1;
   	-moz-animation: spin .3s ease-in-out 1;
   	 animation:spin .3s ease-in-out 1;
  

}


#searcharea{
	margin: 0 auto;
	text-align: center;
	background-color: #023456; 
	color: white;
	border-radius: 10px;
	padding: 20px;
	box-shadow: 0 2px 2px 0 #AAA;
}
#searcharea p{
	font-weight: 300;
	text-transform: lowercase;
}

#searcharea label{
	font-size: 1.8rem;
	font-weight: 300;
}
#search{
	height: 40px;
	border-radius: 5px;
	width: 300px;
	border: solid 1px #8BB6D3;
	
	}


#viewAll{
	background-color: #023456;
	color: white;
	margin: 30px;
	float: right;
	padding: 10px;
	border-radius: 5%;
	box-shadow: 0 4px 4px 0 #AAA;
	border: none;
	cursor: pointer;
	font-family: 'Roboto Condensed', 'Helvetica', sans-serif;
	font-size: 1.2rem;
}

	

.search-results{
	margin: 0 auto;
	list-style: none;
	max-width: 760px;
	padding: 0;
		

}

.search-results li{
	display: block;
	clear: both;
	margin-bottom: 40px;
	margin-top: 10px;
	background-color: white;
	padding: 20px;
	box-shadow: 0 2px 2px 0 #AAA;
}

.search-results h2{
	margin-top: 0;
	color: #023456;
	text-align: center;
	
}

.search-results h3{
	cursor:pointer;
	color: #8BB6D3;
	text-align: center;
}


.search-results img{
	border-radius: 50%;
	margin: 0 auto;
	display: block;
	margin-bottom: 30px;
	box-shadow: 0 4px 4px 0 #AAA;
}


.clearfix{
	clear: both;
}



.hidden{
	display: none;
}


@media screen and (min-width:730px){
	.search-results img{
		float: right;
		margin-right: 30px;
		margin-left: 30px;	
	}
	.search-results h2{
		text-align: left;
	}
	.search-results h3{
		text-align: left
	}
	

}