@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

/* Animation Basics */
body {
font-family: 'Roboto Condensed', helvetica, sans-serif;
}

.container {
	margin: 0;
	padding-top: 100px;
	padding-bottom: 100px;
	width:100%;
	position:relative;
	min-height: 600px;
}

.robot{
	background-color: #D8E8FA;
}

.blue_robot {
		transform: rotate(45deg) skew(20deg)  ;
}

img{
		display: block;
		margin: 0 auto;
}

.london{
	perspective: 1000px;
}

.london img{
transform: rotateY(45deg) rotateX(20deg) rotateZ(10deg) translate3d(100px, 20px, -100px);
}

.rollover-robot{
	background-color: #f7e4fe;
	background-image: url('purple_diag_background.svg');
	background-size: cover;
	background-position: 0 -50px;
	font-size: 1.6rem;
	font-weight: 300;
}

.rollover-robot p {
	color: white;
	text-align: center;
}

.rollover-robot-inner{
	margin-top: 12em;
}

.rollover-robot button {
	cursor: hand;
	background-color: #ff8d35;
	color: white;
	font:weight: 900;
	font-size: 1.2rem;
	border: none;
	padding:1em 3em;
	margin: 2em auto;
	display:block;
	box-shadow:0px 2px 2px 0px #222;

	transition: background .25s .25s ease-in, transform .5s ease-in-out, box-shadow .5s ;
}

.rollover-robot button:hover {
	background: #dd6b14;
	transform: scale(1.2);
	box-shadow:0px 3px 3px 3px rgba(35, 35, 35, 0.3);
}

.slide-across{
	background: #023456; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #023456 , #1F1C18); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #023456 , #1F1C18); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.robot-slide{
	animation-name: slide;
	animation-duration: 2s;
	animation-timing-function: ease-in;
	animation-iteration-count: 1;
	animation-fill-mode: both;


}

@keyframes slide {
	0% {transform: translateX(-400px);}
	50% {transform: translateX(400px);}
	100% {transform: translateX(-400px);}
}
